In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import googlemaps

In [2]:
file_root = '/home/dsc/TFM/Reverse_Logistics_Template.xlsx'
tender = pd.read_excel(file_root)
tender.head()

,Customer,Lane_ID,Origin_Country,Destination_Country,Origin_Port,Destination_Port,Origin_City,Destination_City,Equipment_Type,Shipping_Terms,Commodity,Volume
0,CustomerB,1089,ID,CN,Makassar,Xingang/Tianjin,Makassar,Xingang,20' Standard Dry,Port to Port,Cocoa Liquor,60.0
1,CustomerB,1090,ID,CN,Makassar,Shanghai,Makassar,Shanghai,20' Standard Dry,Port to Port,Cocoa Liquor,140.0
2,CustomerB,1093,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,20' Reefer,Port to Port,Confectionary,10.0
3,CustomerB,1094,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,40' Reefer,Port to Port,Confectionary,70.0
4,CustomerB,1095,CN,VN,Shanghai,Cat Lai,Shanghai,Ho Chi Minh,20' Reefer,Port to Port,Confectionary,5.0

In [3]:
API_KEY = 'AIzaSyCb3tyT9hP3P5dpMSuOSJ51p_4i5d7-SqM'
map_client = googlemaps.Client(API_KEY)

In [4]:
#Let's create a dataframe with the cities and ports locations

In [5]:
city_locations1 = tender['Origin_City'] + ', ' + tender['Origin_Country']
city_locations2 = tender['Destination_City'] + ', ' + tender['Destination_Country']

city_locations1.head()

0    Makassar, ID
1    Makassar, ID
2    Shanghai, CN
3    Shanghai, CN
4    Shanghai, CN
dtype: object

In [22]:
city_locations = pd.DataFrame(columns=['City'])
for i in city_locations1:
    city_locations = city_locations.append({'City': i}, ignore_index=True)
    
for i in city_locations2:
    city_locations = city_locations.append({'City': i}, ignore_index=True)

In [23]:
city_locations = pd.DataFrame(city_locations['City'].unique(), columns = ['City'])
city_locations

                            City
0                   Makassar, ID
1                   Shanghai, CN
2                    Xingang, CN
3                    Bangkok, TH
4                     Mundra, IN
5                   Surabaya, ID
6                     Manila, PH
7                     Penang, MY
8                   Shenzhen, CN
9                    Yantian, CN
10                  Songkhla, TH
11                   Jakarta, ID
12              Pasir Gudang, MY
13                 Singapore, SG
14           Tanjung Pelepas, MY
15                Oosterhout, NL
16                   Arevalo, ES
17          Bokros/Kecskemet, HU
18                  Plymouth, GB
19             Porici/Ricany, CZ
20                    Veghel, NL
21                    Bokros, HU
22                  Biesheim, FR
23                  Robakowo, PL
24                    Ricany, CZ
25                 Amsterdam, NL
26                    Napoli, IT
27        Palau De Plegamans, ES
28                  Eindhout, BE
29             Tolsa, Madrid, ES
..                           ...
448          Turk and Caicos, TC
449                 San Juan, PR
450         St Thomas Island, VI
451          Binh Duong Door, VN
452               Di An Door, VN
453         Los Angeles Door, US
454               Magor Door, GB
455     Rivalta Scrivia Door, IT
456           Saskatoon Door, CA
457           Thanaleng Door, LA
458         Tughlakabad Door, IN
459              Zagreb Door, HR
460              Adamow Door, PL
461             Florida Door, UY
462            Warszawa Door, PL
463             Haskovo Door, BG
464             Stryków Door, PL
465         Lat Krabang Door, TH
466               Apopa Door, SV
467         El Salvador Door, SV
468        San Salvador Door, SV
469               Praha Door, CZ
470            Budapest Door, HU
471            Edmonton Door, CA
472            Winnipeg Door, CA
473              Bremen Door, DE
474             Keelung Door, TW
475              Jaipur Door, IN
476          Karol Bagh Door, IN
477  Syracuse, New York Door, US

[478 rows x 1 columns]

In [24]:
city_locations['City'] = city_locations['City'].str.replace(' Door', '')
city_locations

                       City
0              Makassar, ID
1              Shanghai, CN
2               Xingang, CN
3               Bangkok, TH
4                Mundra, IN
5              Surabaya, ID
6                Manila, PH
7                Penang, MY
8              Shenzhen, CN
9               Yantian, CN
10             Songkhla, TH
11              Jakarta, ID
12         Pasir Gudang, MY
13            Singapore, SG
14      Tanjung Pelepas, MY
15           Oosterhout, NL
16              Arevalo, ES
17     Bokros/Kecskemet, HU
18             Plymouth, GB
19        Porici/Ricany, CZ
20               Veghel, NL
21               Bokros, HU
22             Biesheim, FR
23             Robakowo, PL
24               Ricany, CZ
25            Amsterdam, NL
26               Napoli, IT
27   Palau De Plegamans, ES
28             Eindhout, BE
29        Tolsa, Madrid, ES
..                      ...
448     Turk and Caicos, TC
449            San Juan, PR
450    St Thomas Island, VI
451          Binh Duong, VN
452               Di An, VN
453         Los Angeles, US
454               Magor, GB
455     Rivalta Scrivia, IT
456           Saskatoon, CA
457           Thanaleng, LA
458         Tughlakabad, IN
459              Zagreb, HR
460              Adamow, PL
461             Florida, UY
462            Warszawa, PL
463             Haskovo, BG
464             Stryków, PL
465         Lat Krabang, TH
466               Apopa, SV
467         El Salvador, SV
468        San Salvador, SV
469               Praha, CZ
470            Budapest, HU
471            Edmonton, CA
472            Winnipeg, CA
473              Bremen, DE
474             Keelung, TW
475              Jaipur, IN
476          Karol Bagh, IN
477  Syracuse, New York, US

[478 rows x 1 columns]

In [31]:
city_locations['Latitude'] = ''
city_locations['Longitude'] = ''
city_locations.head()

           City Latitude Longitude
0  Makassar, ID
1  Shanghai, CN
2   Xingang, CN
3   Bangkok, TH
4    Mundra, IN

In [35]:
i = 0
for city in city_locations['City']:
    try:
        city_locations['Latitude'].iloc[i] = map_client.geocode(city)[0]['geometry']['location']['lat']
        city_locations['Longitude'].iloc[i] = map_client.geocode(city)[0]['geometry']['location']['lng']
        i += 1
    except:
        i += 1
city_locations.head()

           City Latitude Longitude
0  Makassar, ID -5.14767   119.433
1  Shanghai, CN  31.2304   121.474
2   Xingang, CN  38.9832   117.743
3   Bangkok, TH  13.7563   100.502
4    Mundra, IN  22.8395   69.7213