In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_root = '/home/dsc/TFM/Reverse_Logistics_Template.xlsx'
tender = pd.read_excel(file_root)
tender.head()

,Customer,Lane_ID,Origin_Country,Destination_Country,Origin_Port,Destination_Port,Origin_City,Destination_City,Equipment_Type,Shipping_Terms,Commodity,Volume
0,CustomerB,1089,ID,CN,Makassar,Xingang/Tianjin,Makassar,Xingang,20' Standard Dry,Port to Port,Cocoa Liquor,60.0
1,CustomerB,1090,ID,CN,Makassar,Shanghai,Makassar,Shanghai,20' Standard Dry,Port to Port,Cocoa Liquor,140.0
2,CustomerB,1093,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,20' Reefer,Port to Port,Confectionary,10.0
3,CustomerB,1094,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,40' Reefer,Port to Port,Confectionary,70.0
4,CustomerB,1095,CN,VN,Shanghai,Cat Lai,Shanghai,Ho Chi Minh,20' Reefer,Port to Port,Confectionary,5.0

In [3]:
!pip install googlemaps

Requirement already satisfied: googlemaps in /home/dsc/anaconda3/lib/python3.7/site-packages (4.4.5)
Requirement already satisfied: requests<3.0,>=2.20.0 in /home/dsc/anaconda3/lib/python3.7/site-packages (from googlemaps) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/dsc/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/dsc/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/dsc/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/dsc/anaconda3/lib/python3.7/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)

In [4]:
import googlemaps

In [5]:
API_KEY = 'AIzaSyCb3tyT9hP3P5dpMSuOSJ51p_4i5d7-SqM'

In [6]:
map_client = googlemaps.Client(API_KEY)

In [7]:
casa = 'Norwich, United Kingdom'
response = map_client.geocode(casa)
print(response)

[{'address_components': [{'long_name': 'Norwich', 'short_name': 'Norwich', 'types': ['locality', 'political']}, {'long_name': 'Norwich', 'short_name': 'Norwich', 'types': ['postal_town']}, {'long_name': 'Norfolk', 'short_name': 'Norfolk', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'England', 'short_name': 'England', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United Kingdom', 'short_name': 'GB', 'types': ['country', 'political']}], 'formatted_address': 'Norwich, UK', 'geometry': {'bounds': {'northeast': {'lat': 52.6858357, 'lng': 1.3786135}, 'southwest': {'lat': 52.5944502, 'lng': 1.1950855}}, 'location': {'lat': 52.6308859, 'lng': 1.297355}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 52.6858357, 'lng': 1.3786135}, 'southwest': {'lat': 52.5944502, 'lng': 1.1950855}}}, 'place_id': 'ChIJE_UzUdWq0EcRL0USDuClTGg', 'types': ['locality', 'political']}]

In [8]:
print(response[0]['geometry']['bounds']['northeast']['lat'])
print(response[0]['geometry']['bounds']['northeast']['lng'])

52.6858357
1.3786135

In [9]:
type(response)

list

In [10]:
tender.head()

,Customer,Lane_ID,Origin_Country,Destination_Country,Origin_Port,Destination_Port,Origin_City,Destination_City,Equipment_Type,Shipping_Terms,Commodity,Volume
0,CustomerB,1089,ID,CN,Makassar,Xingang/Tianjin,Makassar,Xingang,20' Standard Dry,Port to Port,Cocoa Liquor,60.0
1,CustomerB,1090,ID,CN,Makassar,Shanghai,Makassar,Shanghai,20' Standard Dry,Port to Port,Cocoa Liquor,140.0
2,CustomerB,1093,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,20' Reefer,Port to Port,Confectionary,10.0
3,CustomerB,1094,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,40' Reefer,Port to Port,Confectionary,70.0
4,CustomerB,1095,CN,VN,Shanghai,Cat Lai,Shanghai,Ho Chi Minh,20' Reefer,Port to Port,Confectionary,5.0

In [11]:
!pip install geopy

Requirement already satisfied: geopy in /home/dsc/anaconda3/lib/python3.7/site-packages (2.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/dsc/anaconda3/lib/python3.7/site-packages (from geopy) (1.50)

In [12]:
tender_sample = tender[['Lane_ID','Origin_City']].head()
tender_sample

  Lane_ID Origin_City
0    1089    Makassar
1    1090    Makassar
2    1093    Shanghai
3    1094    Shanghai
4    1095    Shanghai

In [13]:
for city in tender_sample['Origin_City']:
    tender_sample['location'] = map_client.geocode(city)[0]['geometry']['location']['lat']

In [14]:
tender_sample

  Lane_ID Origin_City   location
0    1089    Makassar  31.230416
1    1090    Makassar  31.230416
2    1093    Shanghai  31.230416
3    1094    Shanghai  31.230416
4    1095    Shanghai  31.230416

In [39]:
i = 0
for city in tender_sample['Origin_City']:
    tender_sample['location'].iloc[i] = map_client.geocode(city)[0]['geometry']['location']['lat']
    i += 1

/home/dsc/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [40]:
tender_sample

  Lane_ID Origin_City   location
0    1089    Makassar  -5.147665
1    1090    Makassar  -5.147665
2    1093    Shanghai  31.230416
3    1094    Shanghai  31.230416
4    1095    Shanghai  31.230416

In [41]:
for city in tender_sample['Origin_City']:
    map_client.geocode(city)

In [49]:
tender_sample

  Lane_ID Origin_City   location
0    1089    Makassar  -5.147665
1    1090    Makassar  -5.147665
2    1093    Shanghai  31.230416
3    1094    Shanghai  31.230416
4    1095    Shanghai  31.230416

In [42]:
df = pd.DataFrame({'Lane_ID': [1,2,3], 'City': ['Manresa', 'Sabadell', 'Barcelona']})

In [43]:
type(df['City'].iloc[1])

str

In [44]:
def locations(a):
    i = 0
    for city in a['Origin_City']:
        a['Origin_City_lat'].iloc[i] = map_client.geocode(city)[0]['geometry']['bounds']['northeast']['lat']
        a['Origin_City_lon'].iloc[i] = map_client.geocode(city)[0]['geometry']['bounds']['northeast']['lon']
        i += 1
    i = 0
    for city in a['Destination_City']:
        a['Destination_City_lat'].iloc[i] = map_client.geocode(city)[0]['geometry']['bounds']['northeast']['lat']
        a['Destination_City_lon'].iloc[i] = map_client.geocode(city)[0]['geometry']['bounds']['northeast']['lon']

In [45]:
tender.head()

,Customer,Lane_ID,Origin_Country,Destination_Country,Origin_Port,Destination_Port,Origin_City,Destination_City,Equipment_Type,Shipping_Terms,Commodity,Volume
0,CustomerB,1089,ID,CN,Makassar,Xingang/Tianjin,Makassar,Xingang,20' Standard Dry,Port to Port,Cocoa Liquor,60.0
1,CustomerB,1090,ID,CN,Makassar,Shanghai,Makassar,Shanghai,20' Standard Dry,Port to Port,Cocoa Liquor,140.0
2,CustomerB,1093,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,20' Reefer,Port to Port,Confectionary,10.0
3,CustomerB,1094,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,40' Reefer,Port to Port,Confectionary,70.0
4,CustomerB,1095,CN,VN,Shanghai,Cat Lai,Shanghai,Ho Chi Minh,20' Reefer,Port to Port,Confectionary,5.0

In [46]:
tender['Origin_City'].fillna("No City", inplace = True)

In [47]:
#Sacar uniques para hacer menos llamadas

In [48]:
i = 0
for city in tender['Origin_City']:
    if city == "No City":
        tender['Origin_City_Location'].iloc[i] = 0
    else:
        tender['Origin_City_Location'].iloc[i] = map_client.geocode(city)[0]['geometry']['location']['lat']
    i += 1

KeyError: 'Origin_City_Location'