# Reverse Logistics MVP

As a first step for my Reverse Logistics project, I will create a MVP which will show the trade lanes where this model can be applied. It will only compare the Tender itself for one customer. 

In order to know if Reverse Logistics can be applied for this customer and its lanes, it has to fulfill the following:
     * Origin City = Destination City (i.eg Lane 1 has an origin A and Lane 2 has a destination A)
     * By Definition, Origin and Destination country has to be the same
     * Annual volume has to be higher than 54, ~1 containers per week in the matching lanes.

This first MVP will exclude close cities (Google Maps API) and multiple combinations

## 1. Data exploration

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
file_root = 'Reverse_Logistics_Template.xlsx'

In [44]:
tender = pd.read_excel(file_root)

In [45]:
tender.head()

,Customer,Lane_ID,Origin_Country,Destination_Country,Origin_Port,Destination_Port,Origin_City,Destination_City,Equipment_Type,Shipping_Terms,Commodity,Volume
0,CustomerB,1089,ID,CN,Makassar,Xingang/Tianjin,Makassar,Xingang,20' Standard Dry,Port to Port,Cocoa Liquor,60.0
1,CustomerB,1090,ID,CN,Makassar,Shanghai,Makassar,Shanghai,20' Standard Dry,Port to Port,Cocoa Liquor,140.0
2,CustomerB,1093,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,20' Reefer,Port to Port,Confectionary,10.0
3,CustomerB,1094,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,40' Reefer,Port to Port,Confectionary,70.0
4,CustomerB,1095,CN,VN,Shanghai,Cat Lai,Shanghai,Ho Chi Minh,20' Reefer,Port to Port,Confectionary,5.0

In [46]:
#This will show as the Exporter Countries, Mexico, Belgium and United States as Top3
top_exporters = tender.groupby('Origin_Country').sum()
top_exporters.sort_values('Volume', ascending=False)

                      Volume
Origin_Country
MX              59804.000000
BE              29005.000000
US              26361.182235
TH              16303.772828
ZA              12884.000000
FR              10292.000000
CN               9634.000000
IN               8497.000000
DE               6411.000000
SA               4967.250000
CO               4645.000000
AU               4629.000000
LV               3744.000000
NL               3695.000000
CL               3581.000000
EG               3113.000000
RU               3091.000000
KP               2070.000000
LT               1937.000000
GB               1897.000000
AT               1548.000000
HU               1480.000000
PH               1413.000000
ID               1248.000000
PL                991.000000
CA                966.000000
ES                834.000000
DO                767.000000
CZ                720.000000
GT                648.000000
BR                513.000000
NZ                362.000000
SG                357.000000
JP                278.000000
AR                253.000000
MY                219.000000
HN                216.000000
IT                200.000000
PY                192.000000
TW                178.000000
DK                138.000000
UY                132.000000
LK                120.000000
PE                108.000000
VN                 84.000000
AE                 80.000000
TR                 65.000000
KR                 60.000000
LU                 60.000000
CH                 48.000000
SI                 48.000000
IE                 40.000000
KE                 34.000000
TZ                 30.000000
PT                 26.000000
GR                 22.000000
BD                 20.000000
BG                 19.000000
HK                 16.000000
UG                  6.000000

In [47]:
#This will show as the Importers Countries, United States, Japan and UK as Top3
top_importers = tender.groupby('Destination_Country').sum()
top_importers.sort_values('Volume', ascending=False)

                           Volume
Destination_Country
US                   44120.375000
AU                   13826.531584
JP                   12908.000000
GB                   11445.527857
GT                   10171.000000
PR                    7376.000000
AE                    6958.338415
CO                    6124.000000
MX                    5927.000000
HN                    5733.000000
NZ                    5502.421092
PE                    5410.000000
ZA                    4522.520833
PA                    4203.000000
EC                    4063.000000
MY                    3966.038000
BR                    3833.000000
KR                    3786.000000
IN                    3600.000000
PH                    3468.000000
CL                    3141.734118
SV                    3034.000000
SA                    2899.000000
CN                    2798.325270
LV                    2584.000000
TZ                    2434.000000
SG                    2347.000000
DO                    2256.000000
ID                    2255.000000
IL                    2120.000000
...                           ...
SD                      27.000000
GD                      26.000000
BO                      24.734118
GQ                      24.000000
LA                      24.000000
Reunion                 24.000000
CK                      24.000000
FJ                      24.000000
TO                      24.000000
VU                      24.000000
SB                      24.000000
ET                      17.000000
BS                      15.000000
BD                      14.000000
BN                      14.000000
MV                      13.000000
MM                      13.000000
ZW                      12.000000
CD                      12.000000
SN                      12.000000
LR                      12.000000
CW                      10.000000
HT                       7.000000
TC                       6.000000
LT                       6.000000
CH                       5.133095
AW                       5.000000
AO                       3.000000
KY                       2.000000
BZ                       1.000000

[145 rows x 1 columns]

## 2. Cleaning Lanes with <54 volume

In [48]:
tender_cleaned = tender[~(tender['Volume'] <54)]
tender_cleaned.head()

,Customer,Lane_ID,Origin_Country,Destination_Country,Origin_Port,Destination_Port,Origin_City,Destination_City,Equipment_Type,Shipping_Terms,Commodity,Volume
0,CustomerB,1089,ID,CN,Makassar,Xingang/Tianjin,Makassar,Xingang,20' Standard Dry,Port to Port,Cocoa Liquor,60.0
1,CustomerB,1090,ID,CN,Makassar,Shanghai,Makassar,Shanghai,20' Standard Dry,Port to Port,Cocoa Liquor,140.0
3,CustomerB,1094,CN,TH,Shanghai,Bangkok (Pat/Lat Krabang/Laem Chabang),Shanghai,Bangkok,40' Reefer,Port to Port,Confectionary,70.0
9,CustomerB,1100,CN,PH,Shanghai,Manila,Shanghai,Manila,40' Reefer,Port to Port,Confectionary,186.0
11,CustomerB,1102,CN,MY,Shanghai,Port Klang,Shanghai,Port Klang,40' Reefer,Port to Port,Confectionary,100.0

In [49]:
rows_removed = tender['Lane_ID'].count() - tender_cleaned['Lane_ID'].count()
rows_removed

2043

In [50]:
tender_cleaned['Lane_ID'].count()
#There are 2043 valid lanes to apply Reverse Logistics to its own Tender.

496

## 3. Matching the Trade Lanes

In [51]:
#Let's check if any city has more than 54 loads per year both as importer and exporter

In [52]:
city_exports = tender.groupby('Origin_City').sum()
city_exports.sort_values('Volume', ascending=False)

                                               Volume
Origin_City
Bangkok                                  14450.772828
Merida Door                               8384.000000
Nimes                                     3194.000000
Saint Petersburg                          2981.000000
Veghel                                    2947.000000
Melbourne                                 2556.000000
Santiago Door                             2393.000000
Shanghai                                  2346.000000
Victorville, CA                           2129.872706
Aimargues                                 1915.000000
Sydney                                    1894.000000
Sailly Lez Cambrai                        1622.000000
Gwangyang                                 1468.000000
Bruck A/D Leitha                          1467.000000
Xingang                                   1309.000000
OCT                                       1235.000000
Columbia, SC                              1121.000000
Austell, GA                                989.271529
Johannesburg                               958.000000
AIMARGUES                                  897.000000
Toronto, Ontario Ramp (Bolton)             890.000000
Bokros/Kecskemet                           852.000000
Les Rues-des-Vignes OR Monchy les Preux    800.000000
Makassar                                   783.000000
Baldwinsville Door                         696.000000
Ricany                                     681.000000
Queretaro, Qro                             679.000000
Yantian                                    660.000000
Kecskemet                                  623.000000
Songkhla                                   569.000000
...                                               ...
Hong Kong Door                               8.000000
Calera Victor Rosales Door                   8.000000
Brugge                                       6.000000
Long Beach                                   6.000000
Port Chalmers                                6.000000
Port Said West                               6.000000
IL                                           6.000000
Hazleton, PA                                 6.000000
Plaintel                                     5.000000
Nürnberg Door                                5.000000
Izmir                                        5.000000
Bokros                                       5.000000
De Waal - Texel                              4.000000
Abu Road, Rajasthan                          4.000000
Melbourne                                    4.000000
Nuremberg Door                               4.000000
Earth City Door                              4.000000
Prague Door                                  4.000000
Guelph                                       4.000000
Texel                                        4.000000
Makati                                       3.000000
Quebec                                       2.000000
Joliet, IL                                   2.000000
Mars Minden                                  2.000000
Lyttleton                                    2.000000
Cagayan De Oro                               1.000000
Lunel Viel                                   1.000000
Santa Maria de Lamas Door                    1.000000
Ulyanovsk                                    0.000000
Rostov-on-Don                                0.000000

[240 rows x 1 columns]

In [53]:
city_exports = city_exports.rename({'Volume': 'Export_Volume'}, axis=1)

In [54]:
#Let's do the same for imports
city_imports = tender.groupby('Destination_City').sum()
city_imports.sort_values('Volume', ascending=False)
city_imports = city_imports.rename({'Volume': 'Import_Volume'}, axis=1)

In [55]:
#Let's Concatenate both tables:
total_volume = pd.concat([city_exports, city_imports], axis=1, join="inner")
total_volume.reset_index(level=0, inplace=True)
total_volume = total_volume.rename({'index': 'City'}, axis=1)
total_volume.head()

                    City  Export_Volume  Import_Volume
0                Bangkok   14450.772828        147.000
1  Bangkok (Lat Krabang)      30.000000        407.000
2               Brisbane      39.000000        374.000
3                  Busan     386.000000       1824.734
4            CHICAGO, IL      15.000000         15.000

In [56]:
#Let's see in which cities we can apply the reverse logistics (not taking into account the proximity of the cities, yet), for this they need to have at least 54 ctrs in both imports and exports
total_volume_cleaned = total_volume[~(total_volume['Export_Volume'] <54) & ~(total_volume['Import_Volume'] <54) ]

total_volume_cleaned.head()

             City  Export_Volume  Import_Volume
0         Bangkok   14450.772828     147.000000
3           Busan     386.000000    1824.734000
5           Davao     408.000000     119.000000
7          Durban     118.000000    1179.520833
9  Greenville, MS      59.000000     104.000000

In [57]:
#Let's see all the lanes with Bangkok as Origin City by equipment type
Altamira_Export = tender[tender['Origin_City']=='Bangkok']
Altamira_Export.groupby('Equipment_Type')['Volume'].sum()

Equipment_Type
20' Reefer             15.000000
20' Standard Dry     1770.250000
40' High Cube       12637.522828
40' Reefer             28.000000
Name: Volume, dtype: float64

In [58]:
#Let's do the same by Destination
Altamira_Import = tender[tender['Destination_City']=='Bangkok']
Altamira_Import.groupby('Equipment_Type')['Volume'].sum()

Equipment_Type
20' Reefer    50.0
40' Reefer    97.0
Name: Volume, dtype: float64

## Conculsion

In this case, and under the criteria we use it would be difficult to apply the reverse logistics